footer {
  background: var(--color-primary);
  padding-top: 2rem;
  text-align: center;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
.title {
  font-family: Josefin Sans, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
.location {
  margin-bottom: 2rem;
}
.address {
  margin-bottom: 1rem;
}
.address a {
  padding: 0.5rem 0;
}
.hours {
  margin: 0 auto;
}
.hours table {
  margin-top: 1rem;
  font-family: Josefin Sans, sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
.hours th {
  text-align: center;
}
.hours td:first-child {
  padding: 0 1rem 0 0;
}
.hours th,
.hours td {
  border: 0;
  padding: 0;
}
.contact {
  margin-top: 1rem;
}
.sitemap {
  margin: 2rem 1rem 0 1rem;
  text-transform: uppercase;
}
.sitemap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.sitemap ul li {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1.4rem;
}
.sitemap a {
  font-size: 0.9rem;
  font-weight: 600;
}
