header {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  background: white;
}
.header__slide {
  display: none;
}
.header__logo {
  min-width: 200px;
  padding: 1.45rem 1.0875rem;
}
.header__logo img {
  fill: rgb(1, 1, 1);
  filter: brightness(1.5);
  height: 80px;
}
.header__menu ul {
  margin: 0;
}
.header__menu ul li {
  list-style: none;
  padding: 0.8rem 0;
}
.header__menu a {
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}
@media (min-width: 961px) {
  header a {
    font-size: 1.2rem;
  }
}
@media (max-width: 960px) {
  .header__logo {
    min-width: 160px;
  }
  .header__logo img {
    height: 60px;
  }
}
/* TODO: at <=640 width, change nav to left side pull out menu and center logo */
@media (max-width: 640px) {
  header {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .header__slide {
    display: inline-block;
    min-width: 72px;
  }
  .header__logo {
    min-width: 134px;
    padding: 1rem 0;
  }
  .header__logo img {
    height: 50px;
  }
}
