.container {
  margin: 0;
  padding-bottom: 2vw;
}

.title {
  text-align: center;
}

.stylistList {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  padding: 0;
  width: fit-content;
}

.stylist {
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 1rem;
  list-style: none;
  border-radius: 1rem;
  transition: .2s all ease-in-out;
  font-size: 1.2rem;
}

.stylist:hover {
  background: rgba(255, 255, 255, .5);
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, .5);
}

.photo {
  max-width: 80px;
  border-radius: 50%;
  margin-right: 2rem;
  vertical-align: middle;
}

@media (max-width: 420px) {
  .container {
    margin: 0;
  }
}
