.container {
  background: url("./img/bottles.jpg") no-repeat left center;
  min-height: calc(60vh);
}

.header {
  display: inline-block;
  margin: 20px auto;
  background: #000;
  color: var(--color-off-white);
  padding: 2vh 4vw;
  border: 1px solid var(--color-gold);
  outline: 4px solid #000;
  text-align: center;
}

.copy {
  margin: 4vh 12vh;
  padding: 2vw;
  text-align: center;
  background: #000;
  color: var(--color-off-white);
  border: 1px solid var(--color-gold);
  outline: 4px solid #000;
}

.buttonList {
  grid-column-start: 2;
  margin: 40px 0 0 0;
  padding: 0;
  list-style: none;
}

.buttonList li {
  margin: 0 2vw 0 0;
  padding: 0;
  display: inline;
}

.button {
  background: var(--color-gold);
  border: 1px solid rgba(0, 0, 0, 0.4) !important;
  border-radius: .6em;
  color: var(--color-off-black);
  margin: 1rem;
  padding: .6em;
  white-space: nowrap;
}
.button:hover {
  text-decoration: none !important;
  border-color: var(--color-gold);
  background-color: rgba(255, 255, 255, 0.0);
  color: var(--color-off-black);
  transition: all .2s
}
.button:active {
  background-color: rgb(255, 247, 199);
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.75);
}

@media (max-width: 600px) {
  .header {
    display: inline-block;
    margin: 4vh auto;
    background: #000;
    color: var(--color-off-white);
    padding: 2vh 4vw;
    border: 1px solid var(--color-gold);
    outline: 4px solid #000;
    text-align: center;
  }

  .copy {
    margin: 4vh;
    padding: 2vw;
    text-align: center;
    background: #000;
    color: var(--color-off-white);
    border: 1px solid var(--color-gold);
    outline: 4px solid #000;
  }
}