.container {
  background: url("../images/bottles.jpg") no-repeat left center;
  min-height: calc(60vh);
  padding-bottom: 4vw;
}

.header {
  margin: 20px auto;
  padding: 4vh 4vw;

}

.header h2 {
  background: #000;
  color: var(--color-off-white);
  border: 1px solid var(--color-gold);
  outline: 4px solid #000;
  padding: 2vh 4vw;
  margin: 0 auto;
  width: 300px;
  text-align: center;
}

.copy {
  margin: 0 auto;
  padding: 2vw;
  text-align: center;
  background: #000;
  color: var(--color-off-white);
  border: 1px solid var(--color-gold);
  outline: 4px solid #000;
  width: 80vw;
}

.buttonList {
  grid-column-start: 2;
  margin: 40px 0 0 0;
  padding: 0;
  list-style: none;
}

.buttonList li {
  margin: 0 2vw 0 0;
  padding: 0;
  display: inline;
}

.button {
  background: var(--color-gold);
  border: 1px solid rgba(0, 0, 0, 0.4) !important;
  border-radius: .6em;
  color: var(--color-off-black);
  margin: 1rem;
  padding: .6em;
  white-space: nowrap;
}
.button:hover {
  text-decoration: none !important;
  border-color: var(--color-gold);
  background-color: rgba(255, 255, 255, 0.0);
  color: var(--color-off-black);
  transition: all .2s
}
.button:active {
  background-color: rgb(255, 247, 199);
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.75);
}

@media (max-width: 600px) {
  .header {
    margin: 4vh auto;
    padding: 2vh 4vw;
  }

  .copy {
    padding: 2vw;
  }
}