.slide1 {
  background: url("./img/herbs.jpg") no-repeat left center;
  min-height: calc(100vh - 80px);
}

.slide2 {
  background: url("./img/bottles.jpg") no-repeat left center;
  min-height: calc(100vh - 80px);
}

.slide3 {
  background: url("./img/plants.jpg") no-repeat left center;
  min-height: calc(100vh - 80px);
}

.slide1 h1,
.slide2 h1,
.slide3 h1 {
  display: inline-block;
  margin: 20px 0 20px 40%;
  background:  var(--color-off-white);;
  color: #333;
  padding: 10px 60px;
}

.slide1 p,
.slide2 p,
.slide3 p {
  margin: 0 10% 0 20%;
  padding: 2vw;
  text-align: center;
  background: var(--color-off-white);
}