.slide1 {
  background: url("../images/herbs.jpg") no-repeat left center;
  min-height: calc(100vh - 80px);
  padding-bottom: 2vw;
  text-align: center;
}

.slide2 {
  background: url("../images/bottles.jpg") no-repeat left center;
  min-height: calc(100vh - 80px);
}

.slide3 {
  background: url("../images/plants.jpg") no-repeat left center;
  min-height: calc(100vh - 80px);
}

.slide1 h1,
.slide2 h1,
.slide3 h1 {
  display: inline-block;
  margin: 20px auto;
  background: #000;
  color: var(--color-off-white);
  padding: 2vh 4vw;
  border: 1px solid var(--color-gold);
  outline: 4px solid #000;
  text-align: center;
}

.slide1 p,
.slide2 p,
.slide3 p {
  margin: 0 15% 0 15%;
  padding: 2vw;
  text-align: center;
  background: #000;
  color: var(--color-off-white);
  border: 1px solid var(--color-gold);
  outline: 4px solid #000;
}

@media (max-width: 600px) {
  .slide1 h1,
  .slide2 h1,
  .slide3 h1 {
    margin: 4vh auto;
    text-align: center;
  }

  .slide1 p,
  .slide2 p,
  .slide3 p {
    margin: 4vh;
    padding: 2vw;
    text-align: center;
  }
}