/* CSS Reset
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/ /* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */ /* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.frame_one_column {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem;
}
.frame_two_columns {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 721px) {
  .newsletter {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }
}

@media (max-width: 720px) {
  .frame_two_columns {
    grid-template-columns: 1fr;
  }
  .newsletter {
    margin: 0 0.5rem 0 0.5rem;
  }
}

.button {
  border: 2px solid rgb(248, 222, 255);
  background: rgba(248, 222, 255, 0.7);
  padding: 18px 32px 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s background ease-in-out;
  font-weight: 500;
  white-space: nowrap;
}
.button:hover,
.button:active {
  background: rgba(248, 222, 255, 1);
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 2px;
  padding-top: 20px;
  padding-bottom: 14px;
}
.gallery {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
}
.gallery__image {
  max-width: 400px;
  width: 100%;
}
.newsletter {
  background-color: aquamarine;
}
.newsletter p {
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;
}
.newsletter form {
  margin: 2.5rem auto;
  min-width: 280px;
  width: 60%;
}
.newsletter label {
  font-family: Josefin Sans, sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  left: -1px;
}
.newsletter__input {
  display: grid;
  grid-template-columns: 1fr 5rem;
}
.newsletter input {
  box-sizing: border-box;
  text-align: right;
  width: 100%;
  font-family: Josefin Sans, sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0.8rem 0.4rem 0.67rem;
  border: 1px solid lightgray;
  border-right: 0;
  border-radius: 0;
}
.newsletter button {
  box-sizing: border-box;
  border: 1px solid lightgray;
  background: rgb(255, 220, 225);
  font-family: Josefin Sans, sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 300;
  padding: 0.8rem 0 0.67rem;
}
.newsletter button:active {
  padding-top: 0.9rem;
  padding-bottom: 0.57rem;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Josefin Sans, sans-serif;
  font-weight: 300;
}
h1 {
  font-size: 3.5rem;
  margin-bottom: 3rem;
}
h2 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}
h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
h4 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
h5 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
h6 {
  font-size: 0.8rem;
  margin-bottom: 1.2rem;
}

a {
  font-family: Josefin Sans, sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
a,
a:visited {
  color: black;
}
p {
  font-family: Georgia, serif;
  font-size: 1.1rem;
  line-height: 1.6rem;
}
.nobreak {
  white-space: nowrap;
}
