/* 
layout.module.css
Styles used by layout.js and shared by entire website
*/

/* Color variables */
:root {
  --color-gold: rgb(255, 232, 104);
  --color-gold-shadow: rgb(238, 212, 63);
  --color-off-white: rgb(239, 239, 239);
  --color-off-black: #222;

  --button-normal-color: rgba(255, 255, 255, 0.0);
  --button-normal-border: rgba(255, 255, 255, 0.7);
  --button-hover-color: rgba(255, 255, 255, 0.3);
  --button-hover-border: rgba(255, 255, 255, 1);
  --button-active-color: rgba(255, 255, 255, 0.7);
  --button-active-border: rgba(255, 255, 255, 1);
}

body {
  background: #ebc8de fixed; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fffde7, #ebc8de) fixed;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fffde7, #ebc8de) fixed;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: inset 0 0 60px -10px rgba(0, 0, 0, .5);
  color: var(--color-off-black);
  margin: 0;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
p {
  margin: 0 0 20px 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a[href^="tel:"]:before {
  content: "\260e\fe0e";
  margin-right: 0.5em;
}

header {
  display: grid;
  border-bottom: 1px solid var(--color-gold);
  outline: 2px solid #000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}
header, footer {
  background: #000; /* Old browsers */
  color: var(--color-gold);
  transition: 1s all;
}
header ul {
  font-size: 20px;
}
header li {
  margin: 0;
  padding: 6px 0 0 0;
}
header a {
  padding: 1rem 0;
}
header a, footer a {
  color: var(--color-gold);
}

footer {
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #45484d 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  text-shadow: 0 1px 4px rgba(0, 0, 0, .5);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid var(--color-gold);
  outline: 2px solid #000;
  padding: 2vw 0 0 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer a {
  display: block;
}
footer table {
  width: auto;
}
footer table, footer td {
  margin: 0;
  padding: 0 1rem 0 0;
}

.container {
  margin: 0;
  padding: 0 0 30vw;
  width: 100%;
}
.titleCrop {
  width: auto;
  height: 80px;
  overflow: hidden;
  transition: .2s all;
}
.title {
  margin: 8px;
  height: 60px;
  padding: 0 0 0 20px;
  transition: .2s all;
}
.headerMenu {
  display: grid;
  grid-column-start: 2;
  grid-auto-flow: column;
  margin: 20px 10px;
  padding: 0;
  list-style: none;
  text-align: right;
}

.headerMenuItem {
  display: inline-block;
}

.button {
  background-color: #000;
  border: 2px solid var(--color-gold);
  border-radius: .6em;
  padding: .6em;
  text-decoration: none;
  white-space: nowrap;
}
.button:hover {
  text-decoration: none;
  background-color: var(--color-gold);
  color: var(--color-off-black);
  transition: all .2s
}
.button:active {
  background-color: rgb(255, 247, 199);
  box-shadow: 0 0 4px 4px rgba(255, 247, 199, 0.6);
}

.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.hours {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: 2vw;
}
.address {
  grid-column: 3;
  padding-left: 2vw;
}
.map {
  margin-top: -2vw;
  margin-bottom: 0;
  max-width: 450px;
  width: 100%;
}
.sitemap {
  grid-row: 2;
  grid-column: 1 / -1;
  margin: 1rem 0;
  padding-left: 2vw;
  text-transform: uppercase;
  white-space: nowrap;
}
.sitemapList {
  column-count: 3;
  column-gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sitemapList a {
  padding: .5rem 0;
}

@media (min-width: 1200px) {
  .container {
    padding-bottom: 29vw;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .container {
    padding-bottom: 32vw;
  }
}

@media (min-width: 900px) {
  
  body, footer, footer table {
    font-size: 1.2rem;
  }
  header ul {
    font-size: 22px;
  }
  .sitemapList {
    font-size: .9rem;
  }
}

@media (max-width: 899px) {

  .headerMenu {
    margin-top: 22px;
  }
  footer, .hours {
    font-size: 1rem;
  }
  footer td {
    padding: 0 10px 0 0;
  }
  .sitemapList {
    font-size: .7rem;
  }
}

@media (max-width: 720px) {

  .anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
  }
  footer, .hours {
    font-size: .9rem;
  }
  footer td {
    padding: 0;
  }
  .sitemapList {
    font-size: .7rem;
  }
}

@media (max-width: 650px) {
  .container {
    padding-bottom: 200px;
  }
  .hours {
    font-size: .8rem;
  }
  .address {
    font-size: .8rem;
  }
}

@media (max-width: 720px) {

  .titleCrop {
    width: 58px;
    height: 50px;
    overflow: hidden;
    margin-top: 4px;
  }
  .title {
    height: 45px;
    padding: 0 0 0 10px;
    margin: 4px;
  }
  .headerMenu {
    grid-column-start: 2;
  }
  header ul {
    font-size: 1rem;
  }
  header li {
    padding: 0;
  }
  .button {
    border: 1px solid var(--color-gold);
  }

  footer {
    grid-template-columns: 1fr 1fr;
    font-size: .9rem;
  }
  .hours {
    grid-row: 1;
    font-size: .8rem;
  }
  .address {
    grid-row: 1;
    grid-column: 2;
  }
  .map {
    display: none;
  }
  .sitemap {
    font-size: .6rem;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    margin: 0;
  }
  .sitemapList {
    column-count: 3;
  }
  .sitemapList a {
    padding: .8rem 0;
  }
}

@media (max-width: 460px) {
  header ul {
    font-size: .95rem;
  }
  .container {
    padding-bottom: 200px;
  }
  header ul, footer {
    letter-spacing: -.4px;
  }

  footer {
    font-size: .7rem;
  }
}

@media (max-width: 400px) {
  header ul {
    font-size: .8rem;
  }
  .titleCrop {
    margin-top: 2px;
  }
  .hours {
    font-size: .7rem;
  }
}

/* Typography */

h1,h2,h3,h4,h5,h6, a, footer table {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

p, table, input {
  font-family: 'Libre Baskerville', Baskerville, serif;
}

p {
  line-height: 1.6rem;
}

.unbreakable {
  white-space: nowrap;
}

.swirlDecor {
  position: relative;
  top: .5rem;
  font-family: ReynoldsCaps, serif;
  font-size: 6rem;
  font-weight: 400;
  line-height: .6rem;
}

.goldType {
  color: var(--color-gold);
}