/* 
Header styles
*/

header {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  background: white;
}
.header__logo img {
  height: 80px;
}
.header__menu__links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
  max-width: 720px;
  padding: 0;
}
.header__menu__book {
  display: flex;
  padding: 0 1rem;
  list-style: none;
}
.header__menu ul {
  margin: 0;
}
.header__menu ul li {
  list-style: none;
  padding: 0.8rem 0;
}
.header__menu a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 1rem 1rem;
  white-space: nowrap;
}
.header__menu a:hover {
  text-decoration: underline;
}

@media (min-width: 961px) {
  header {
    font-size: 1.2rem;
  }
}

@media (max-width: 960px) {
  .header__logo img {
    height: 60px;
  }
}

/* TODO: at <=640 width, change nav to left side pull out menu and center logo */
@media (max-width: 640px) {
  .header__logo img {
    height: 50px;
  }
  .header__menu__links {
    display: none;
  }
}

.button {
  border: 2px solid rgb(248, 222, 255);
  background: rgba(248, 222, 255, 0.85);
  padding: 1.2rem 2rem 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s all ease-in-out;
}
.button:hover {
  background: rgba(248, 222, 255, 1);
  text-decoration: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Josefin Slab, serif;
}
a {
  font-family: Josefin Sans, sans-serif;
  letter-spacing: -0.04em;
}
p {
  font-family: Georgia, serif;
  font-size: 1.1rem;
}
