/* Color variables */
:root {
  --color-gold: rgb(255, 238, 142);
  --color-off-white: rgb(239, 239, 239);
  --color-off-black: #000;

  --button-normal-color: rgba(255, 255, 255, 0.0);
  --button-normal-border: rgba(255, 255, 255, 0.7);
  --button-hover-color: rgba(255, 255, 255, 0.3);
  --button-hover-border: rgba(255, 255, 255, 1);
  --button-active-color: rgba(255, 255, 255, 0.7);
  --button-active-border: rgba(255, 255, 255, 1);
}
html{
  font-size: 100%;
}

body {
  background-color: var(--color-off-white);
  color: var(--color-off-black);
  margin: 0;
}
p {
  margin: 0 0 20px 0;
}
a {
  border: none;
  background-image: none;
  text-decoration: none;
  text-shadow: none;
}
a:hover {
  text-decoration: underline;
}
a[href^="tel:"]:before {
  content: "\260e\fe0e";
  margin-right: 0.5em;
}
header {
  display: grid;
  border-bottom: 1px solid var(--color-gold);
  outline: 2px solid #000;
}

header, footer {
  background: var(--color-off-black);
  color: var(--color-gold);
  transition: .2s all;
}
header li {
  margin: 0;
  padding: 6px 0 0 0;
}
header a, footer a {
  color: var(--color-gold);
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid var(--color-gold);
  outline: 2px solid #000;
  padding: 2vw 0 0 2vw;
}
footer table {
  width: auto;
}
footer table, footer td {
  margin: 0;
  padding: 0 1rem 0 0;
}

.container {
  margin: 0;
  padding: 0;
}
.titleCrop {
  width: auto;
  height: 80px;
  overflow: hidden;
}
.title {
  margin: 8px;
  height: 60px;
  padding: 0 0 0 20px;
  transition: .2s all;
}

.sitemap {
  text-transform: uppercase;
}

.headerMenu {
  display: grid;
  grid-column-start: 3;
  grid-auto-flow: column;
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

.headerMenuItem {
  display: inline-block;
  margin-right: 1rem;
}

.button {
  background-color: #000;
  border: 1px solid var(--color-gold);
  border-radius: .6em;
  padding: .6em;
  text-decoration: none;
  white-space: nowrap;
}
.button:hover {
  text-decoration: none;
  background-color: var(--color-gold);
  color: var(--color-off-black);
  transition: all .2s
}
.button:active {
  background-color: rgb(255, 247, 199);
  box-shadow: 0 0 4px 4px rgba(255, 247, 199, 0.6);
}

.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

.hours {
  grid-column-start: 1;
  grid-column-end: 2;
}
.address {
  grid-column: 3;
}
.map {
  margin-top: -2vw;
  margin-bottom: 0;
  max-width: 200px;
}
.sitemap {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  columns: 4;
}
.sitemapList {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 900px) {
  
  body, footer, footer table {
    font-size: 1.2rem;
  }
  .sitemap {
    font-size: 1rem;
  }
}

@media (min-width: 601px) {

  footer, footer table {
    font-size: .9rem;
  }

  .sitemap {
    font-size: .8rem;
    text-transform: uppercase;
  }
}

@media (max-width: 600px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
  }

  .titleCrop {
    width: 58px;
    height: 50px;
    overflow: hidden;
  }
  .title {
    height: 45px;
    padding: 0 0 0 10px;
    margin: 4px;
  }
  .headerMenu {
    grid-column-start: 2;
  }
  header ul {
    font-size: .9rem;
  }
  header li {
    padding: 0;
  }

  footer {
    grid-template-columns: 1fr 1fr;
    font-size: .9rem;
  }
  .hours {
    grid-row: 1;
  }
  .address {
    grid-row: 1;
    grid-column: 2;
  }
  .map {
    display: none;
  }
  .sitemap {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    columns: 2;
  }
}

@media (max-width: 400px) {
  header ul, footer {
    font-size: .8rem;
    letter-spacing: -.2px;
  }

  footer {
    font-size: .7rem;
  }
}

/* Typography */

h1,h2,h3,h4,h5,h6, header a {
  font-family: 'Macondo', sans-serif;
}

p, a, table {
  font-family: 'Libre Baskerville', Baskerville, serif;
}

.logoFont {
  font-family: ReynoldsCaps, 'Macondo', sans-serif;
}

.unbreakable {
  white-space: nowrap;
}

.swirlDecor {
  position: relative;
  top: 1rem;
  font-size: 8rem;
  line-height: .6rem;
}