/* CSS Reset
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/ /* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */ /* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.centered_p {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem;
}
.box_p {
  margin: 0 auto;
  padding: 2rem;
}
.frame_one_column {
  padding: 0 2rem;
}
.frame_two_columns,
.frame_booking {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.button {
  border: 2px solid rgb(248, 222, 255);
  background: rgba(248, 222, 255, 0.7);
  padding: 18px 32px 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s background ease-in-out;
  font-weight: 600;
  white-space: nowrap;
}
.button:hover,
.button:active {
  background: rgba(248, 222, 255, 1);
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 2px;
  padding-top: 20px;
  padding-bottom: 14px;
}
.gallery {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.gallery__image {
  max-width: 400px;
  width: 100%;
}
.stylist {
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 1rem;
}
.stylist__pic {
  border-radius: 50%;
  width: 50%;
  max-width: 250px;
}
.frame_booking a {
  border-radius: 0.5rem;
  text-decoration: none;
}
.frame_booking a:hover {
  background: rgb(248, 222, 255);
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Josefin Sans, sans-serif;
  font-weight: 300;
}
h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  line-height: 4rem;
}
h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  line-height: 3.5rem;
}
h3 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
  line-height: 2.5rem;
}
h4 {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  line-height: 2rem;
}
h5 {
  font-size: 1rem;
  margin-bottom: 0.8rem;
  line-height: 1.5rem;
}
h6 {
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
  line-height: 1.2rem;
}
a {
  font-family: Josefin Sans, sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
a,
a:visited {
  color: black;
}
p,
table {
  font-family: Josefin Sans, sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.6rem;
}
td,
th {
  border-bottom: 1px solid lightgray;
  padding: 0.5rem;
  text-align: left;
}
th {
  background: rgb(248, 222, 255);
  font-weight: 600;
}
.nobreak {
  white-space: nowrap;
}
@media (max-width: 720px) {
  .frame_two_columns {
    grid-template-columns: 1fr;
  }
  .gallery {
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 640px) {
  .box_p {
    padding: 1rem;
  }
}
