.container {
  display: flex;
  width: 100%;
  flex-flow: row;
}

.img {
  max-width: 40%;
  object-fit: cover;
  max-height: 800px;
}

.logo {
  max-width: 60%;
  margin-bottom: 1rem;
  margin-left: -2%;
}

.mini {
  max-width: 30%;
  margin-left: 10%;
  margin-right: 10%;
}

.copy {
  background: #faecff;
  padding: 2rem 8vw;
}

@media (max-width: 600px) {
  .copy {
    padding: 2rem 4vw;
  }
  .copy p {
    font-size: .7rem;
  }
}