.profileContainer {
  display: grid;
  grid-template-columns: 25% 55%;
  grid-column-gap: 5vw;
  margin: 5vw;
  padding: 5vw;
}

.name {
  text-align: right;
}

.profileImg {
  max-height: 25vw;
  border-radius: 50%;
}

ul {
  margin: 40px 0 0 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0 2vw 0 0;
  padding: 0;
  display: inline;
}

.button {
  background: var(--color-gold);
  border: 1px solid rgba(0, 0, 0, 0.4) !important;
  border-radius: .6em;
  color: var(--color-off-black);
  padding: .6em;
  white-space: nowrap;
}
.button:hover {
  text-decoration: none !important;
  border-color: var(--color-gold);
  background-color: rgba(255, 255, 255, 0.0);
  color: var(--color-off-black);
  transition: all .2s
}
.button:active {
  background-color: rgb(255, 247, 199);
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.75);
}

@media (max-width: 600px) {
  .profileContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 5vw;
    margin: 5vw 2vw;
    padding: 5vw 2vw;
  }
  .name {
    text-align: center;
  }
  .button {
    margin-top: 20px;
    font-size: .8rem;
  }
}
