.profileContainer {
  display: grid;
  grid-template-columns: 25% 55%;
  grid-column-gap: 5vw;
  grid-row-gap: 3vh;
  margin: 2vw 5vw;
  padding: 4vw 4vw 0 4vw;
}

.name {
  grid-column-start: 1;
  grid-row-start: 1;
  text-align: center;
  margin: 0;
  padding: 0;
}
.profileTitle {
  margin: 0;
  padding: .3rem 0 0 0;
}
.profileImg {
  max-height: 20vw;
  border-radius: 50%;
}
.profileDesc {
  font-size: 1rem;
}
.buttonList {
  grid-column-start: 2;
  margin: 40px 0 0 0;
  padding: 0;
  list-style: none;
}

.buttonList li {
  margin: 0 2vw 0 0;
  padding: 0;
  display: inline;
}

.button {
  background: var(--color-gold);
  border: 2px solid var(--color-gold-shadow);
  border-radius: .6em;
  color: var(--color-off-black);
  padding: .6em;
  white-space: nowrap;
}
.button:hover {
  text-decoration: none !important;
  border-color: var(--color-gold);
  background-color: rgb(255, 242, 166);
  color: var(--color-off-black);
  transition: all .2s
}
.button:active {
  background-color: rgb(255, 247, 199);
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.75);
}

@media (max-width: 899px) {
  .profileContainer {
    grid-template-columns: 25% 75%;
  }
}

@media (max-width: 600px) {
  .profileContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2vw;
    margin: 5vw 2vw;
    padding: 5vw 2vw;
  }
  .name {
    margin-top: 2vw;
    text-align: center;
  }
  .profileTitle {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
  }
  .profileImg {
    grid-column: 1;
    grid-row: 3;
    margin: 0 auto;
    max-height: 50vw;
    border-radius: 50%;
    padding: 2vw;
  }
  .profileDesc {
    grid-column: 1;
    grid-row: 4;
  }
  .buttonList {
    grid-column: 1;
    grid-row: 5;
    margin: 6vw 0 0 0;
    text-align: center;
  }
  .button {
    margin-top: 20px;
    font-size: .8rem;
  }
}
